/*!
 * ebooklibrary Bootstrap Theme v3.3.5
 * Copyright 2015 mrdragonraaar.com
 */

// Core variables and mixins
//@import "../../bootstrap/less/variables.less";
@import "../../bootstrap/less/mixins.less";

// Theme variables and mixins
@import "variables.less";
@import "mixins.less";


// Global Components
html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: @theme-sans-serif;
}


