//
// Fonts
// --------------------------------------------------


// Import fonts

// Open Sans
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url('@{font-path}OpenSans-Light.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url('@{font-path}OpenSans.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('@{font-path}OpenSans-Semibold.woff') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url('@{font-path}OpenSans-Bold.woff') format('woff');
}

// Poirot One
@font-face {
	font-family: 'Poiret One';
	font-style: normal;
	font-weight: 400;
	src: local('Poiret One'), local('PoiretOne-Regular'),
		url('@{font-path}PoiretOne-Regular.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}PoiretOne-Regular.woff') format('woff'),
		url('@{font-path}PoiretOne-Regular.ttf') format('truetype'),
		url('@{font-path}PoiretOne-Regular.svg#PoiretOne-Regular') format('svg');
}

// Andes
@font-face {
	font-family: 'Andes';
	font-style: normal;
	font-weight: 400;
	src: local('Andes'),
		url('@{font-path}Andes.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Andes.woff') format('woff'),
		url('@{font-path}Andes.ttf') format('truetype'),
		url('@{font-path}Andes.svg#Andes') format('svg');
}

// Parisish
@font-face {
	font-family: 'Parisish';
	font-style: normal;
	font-weight: 400;
	src: local('Parisish'),
		url('@{font-path}Parisish.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Parisish.woff') format('woff'),
		url('@{font-path}Parisish.ttf') format('truetype'),
		url('@{font-path}Parisish.svg#Parisish') format('svg');
}

// Tall Deco
@font-face {
	font-family: 'Tall Deco';
	font-style: normal;
	font-weight: 400;
	src: local('Tall Deco'), local('TallDeco-Normal'),
		url('@{font-path}TallDeco-Normal.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}TallDeco-Normal.woff') format('woff'),
		url('@{font-path}TallDeco-Normal.ttf') format('truetype'),
		url('@{font-path}TallDeco-Normal.svg#TallDeco-Normal') format('svg');
}

// RaconteurNF
@font-face {
	font-family: 'RaconteurNF';
	font-style: normal;
	font-weight: 400;
	src: local('RaconteurNF'),
		url('@{font-path}RaconteurNF.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}RaconteurNF.woff') format('woff'),
		url('@{font-path}RaconteurNF.ttf') format('truetype'),
		url('@{font-path}RaconteurNF.svg#RaconteurNF') format('svg');
}

